<div class="details-container" *ngIf="movie">
  <img [src]="'http://localhost:5000/images/' + movie.image" alt="{{ movie.title }}" />


  <div class="details-content">
    <h2>{{ movie.title }}</h2>
    <p class="rating">⭐ {{ movie.rating }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
    <p><strong>Language:</strong> {{ movie.language }}</p>
    <p><strong>Showtime:</strong> {{ movie.showtime | date:'medium' }}</p>
    <a routerLink="/" class="btn">← Back to Movies</a>
    <a [routerLink]="['/movies', movie.id, 'seats']" class="btn primary">
      🎟️ Book Now
    </a>
    

  </div>
</div>
